<!--

<h1>My Angular App</h1>

<hr />

<app-product></app-product>

<hr />

<app-employee></app-employee>

<hr />
<hr />

<app-color></app-color>

<hr />
<hr />

<app-person></app-person>

<hr />
<hr />

<app-calculator></app-calculator>

<hr />
<hr />

<app-employee></app-employee>

<hr />
<hr />

-->

<!-- <h1>{{ appName }}</h1>

<hr />
<hr /> -->

<!-- <app-customer></app-customer> -->

<h1 appHighlighter>{{appName}}</h1>
<hr>
<nav>
    <a routerLink="/home" routerLinkActive="activeroute">Home</a>
    <a routerLink="/about" routerLinkActive="activeroute">About</a>
    <a routerLink="/products" routerLinkActive="activeroute">Product</a>
    <a routerLink="/employees" routerLinkActive="activeroute">Employee</a>
    <a routerLink="/pipedemo" routerLinkActive="activeroute">Pipe Demo</a>
    <a routerLink="/templatedrivendemo" routerLinkActive="activeroute">Template Driven Form</a>
    <a routerLink="/modeldrivendemo" routerLinkActive="activeroute">Model Driven Form</a>
    <a routerLink="/customers" routerLinkActive="activeroute">Customer</a>
    <a routerLink="/book" routerLinkActive="activeroute">Book Module</a>
</nav>
<hr>
<router-outlet></router-outlet>